<div>
    <mat-card fxFlex="100" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
        <mat-card-title class="">
            <div class="card-title-text">환불규정</div>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content>
            <div fxFlex="100" class="pr-1">
                <mat-form-field class="full-width">
                    <mat-label>환불규정</mat-label>
                    <textarea matInput matTextareaAutosize name="adminNm" placeholder="환불규정"
                        [(ngModel)]="refund">{{refund}}</textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <div class="m-333">
            <span fxFlex="50">
                <button mat-raised-button class="mb-05" color="primary"
                    (click)="updateRefund('', refund)">환불규정
                    저장</button>
            </span>
        </div>
    </mat-card>

</div>