<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">총 회원수</small>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{users?users.length: 0}}</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}"
    *ngIf="weekUsers$ | async as weekUsers">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">이번주 신규 가입자</small>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{weekUsers?weekUsers.length:0}}</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">이번달 신규 가입자</small>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{monthUser?monthUser.length:0}}</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<div fxLayout="row wrap">
  <!-- Gallery and chart column -->
  <!-- <div fxFlex="100" fxFlex.gt-sm="33.33" fxLayout="column">
    <mat-card class="p-0" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}" style="height: 100%;">
      <div fxLayout="row wrap" class="doughnut-grid text-center" style="height: 100%;">
        <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
          <small>회원(가입/탈퇴)<br>{{users.length}}/{{exitUsers.length}} 명</small>
        </div>
        <div fxFlex="50" class="doughnut-grid-item" style="padding: 1rem 10px;">
          <small>1:1문의(답변완료/답변전)<br>{{inquiryConfirms.length}}/{{inquiryNotConfirms.length}} 건</small>
        </div>
      </div>
    </mat-card>
  </div> -->
  <div fxFlex="100" fxFlex.gt-sm="66.66" fxLayout="column wrap" *ngIf="users">
    <mat-card class="default" [@animate]="{value:'*',params:{delay:'300ms',y:'50px'}}">
      <mat-card-title>최근 가입자</mat-card-title>
      <mat-card-content class="p-0">
        <mat-list class="compact-list mb-1">
          <mat-list-item class="" *ngFor="let t of users | slice: 0:4 ; let i=index">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">{{t.nickname}}</h6>
              <span fxFlex></span>
              <span fxFlex></span>
              <small class="text-muted mr-1">{{ t.dateCreated | relativeTime}} 가입</small>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>
</div>