<div class="text-center mat-bg-primary pt-1 pb-1">
  <h6 class="m-0">알림</h6>
</div>
<mat-nav-list class="notification-list" role="list">
  <!-- Notification item -->
  <mat-list-item *ngFor="let n of notifications" class="notific-item" role="listitem" routerLinkActive="open">
    <mat-icon [color]="n.color" class="notific-icon mr-1">{{n.icon}}</mat-icon>
    <a >
      <div class="mat-list-text">
        <h4 class="message">새로운 알림이 있습니다.</h4>
        <!-- <small class="time text-muted">{{n.time}}</small> -->
      </div>
    </a>
  </mat-list-item>
</mat-nav-list>
<div class="text-center mt-1" *ngIf="notifications.length">
  <small><a href="#" (click)="clearAll($event)">알림 모두삭제</a></small>
</div>