<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">

        <ngx-datatable class="material ml-0 mr-0" [rows]="items$ | async" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">

            <ngx-datatable-column name="가입일" [flexGrow]="1" [sortable]="true" prop="dateCreated">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.dateCreated | date : 'yyyy-MM-dd'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="이름" [flexGrow]="1" [sortable]="true" prop="nickname">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1"
                        (click)="openPop(row, true)">{{row?.nickname}}</button>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="이메일" [flexGrow]="1" [sortable]="true" prop="email">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.email}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="전화번호" [flexGrow]="1" [sortable]="true" prop="phone">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.phone}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="출생년도" [flexGrow]="1" [sortable]="true" prop="birth">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.birth}}년
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="탈퇴여부" [flexGrow]="1" [sortable]="true" prop="exitSwitch">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-slide-toggle [(ngModel)]="row.exitSwitch" (change)="toggle($event, row)" disabled>
                    </mat-slide-toggle>
                </ng-template>
            </ngx-datatable-column>


        </ngx-datatable>

    </mat-card-content>
</mat-card>