<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">

        <ngx-datatable class="material ml-0 mr-0" [rows]="items$ | async" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">

            <ngx-datatable-column name="기관명" [width]="100" [sortable]="true" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="대표검사"  [width]="100" [sortable]="true" prop="kind">
                <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.kind}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="주소"  [width]="300" [sortable]="true" prop="address">
                <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.address}}
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="홈페이지"  [width]="200" [sortable]="true" prop="homepage">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.homepage}}
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="이메일" [width]="200" [sortable]="true" prop="email">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.email}}
            </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="연락처" [width]="150" [sortable]="true" prop="pNumber">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.pNumber}}
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="수정하기" [width]="150"  [sortable]="true" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="modify_button" (click)="goUpdate(row?.docId)">수정하기</button>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    </mat-card-content>
</mat-card>

<div class='bottomDiv'>
    <button mat-raised-button color="primary" class="modify_button" (click)="goInsert()">기관 등록</button>
</div>
