<div>
    <mat-card fxFlex="100" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
        <mat-card-title class="">
            <div class="card-title-text">이용약관</div>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content>
            <div fxFlex="100" class="pr-1">
                <mat-form-field class="full-width">
                    <mat-label>이용약관</mat-label>
                    <textarea matInput matTextareaAutosize name="adminNm" placeholder="이용약관"
                        [(ngModel)]="serviceTerm">{{serviceTerm}}</textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <div class="m-333">
            <span fxFlex="50">
                <button mat-raised-button class="mb-05" color="primary"
                    (click)="updateServiceTerm('', serviceTerm)">이용약관
                    저장</button>
            </span>
        </div>
    </mat-card>

</div>