.filterDiv{
    border: solid 1px;
    width: 100%;
    height: 100px;
    padding: 0 20px 0 20px;
    display: inline-flex;

    .kind{
        width: 55%;
    }
    .subKind{
        width: 35%;
        margin-right:-30px;
    }
    .title{
        width: 80%;
        margin-top: 13px;
        input{
            width: 70%;
            margin-right: 10px;
        }
        button{
            position:absolute;
        }
    }
    .question{
        width: 80%;
        margin-top: 60px;
        float: left;
        position: absolute;
        input{
            width: 70%;
            margin-right: 10px;
        }
        button{
            position:absolute;
        }
    }
    
}

.contentDiv{
    border: solid 1px;
    width: 100%;
    height: 70%;
    margin-top: 10px;
    overflow: auto;

    li{
        margin-top: 10px;
    }
}


.bottomDiv{
    text-align: right;
    padding: 10px;

    button{
        margin-right:10px
    }
}


mat-icon{
    position:absolute;
}