<div class='filterDiv'>
    <div class='bkind'>
        대분류
        <mat-form-field class='kind'>
            <mat-select disableRipple required  [(ngModel)]='kind' (selectionChange)='getSubKind()'>
                <mat-option selected>선택</mat-option>
                <mat-option *ngFor="let kind of kindList$" [value]="kind.testName" >
                    {{ kind.testName }}
                </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class='skind' *ngIf='subKindlist$'>
        소분류
        <mat-form-field  class='subKind'>
        <mat-select disableRipple required  [(ngModel)]='subKind' [disabled]='isDisabled'>
            <mat-option selected>선택</mat-option>
            <mat-option *ngFor="let sub of subKindlist$" [value]="sub">
                {{ sub }}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class='title'>
        질문제목
        <input [(ngModel)]='title' id='titleQue' placeholder="제목을 입력하세요.">
    </div>
    <div class='question'>
        질문내용
        <input [(ngModel)]='question' placeholder="질문을 입력하세요.">
        <button mat-flat-button color="primary" slot="end" (click)='addQuestion(question)'>추가</button>
    </div>
</div>

<div class='contentDiv'>
    <ol>
        <li *ngFor='let item of questionList; let i=index'>
            {{ item }}
            <mat-icon slot="end" (click)='deleteQuestion(i)'>delete_forever</mat-icon>
        </li>
    </ol>
</div>

<div class='bottomDiv'>
    <button mat-raised-button slot="end" (click)='goQuestionList()'>목록</button>
    <button mat-raised-button color="primary" slot="end" (click)='saveQuestion()'>저장</button>
</div>