table{
    width: 95%;
    height: auto;
    overflow: auto;
    tr:first-child{
        td{
            width: 500px;
            text-align: center;
        }
    }

    input{
        width: 100%;
    }
    textarea{
        width: 100%;
    }

}

.bottomDiv{
    text-align: right;
    padding: 10px;
}

.modify_button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: unset;
    height: 30px;
    font-weight: 500;
    font-size: 0.825;
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #ddd;
    margin-right: 5px;
}

.divVisit{
    width: 460px;
    height: 250px;
    background-image: url(../../../../assets/imgs/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid #555555;
}

.astar{
    color: red;
}