.filterDiv{
    border: solid 1px;
    width: 100%;
    height: 100px;
    padding: 1% 20px 0 20px;
    display: inline-flex;

    .kind{
        width: 30%;
    }

    .title{
        width: 80%;
        input{
            width: 70%;
            margin-right: 10px;
        }
        button{
            position:absolute;
        }
    }
    .question{
        width: 80%;
        margin-top: 50px;
        float: left;
        position: absolute;
        input{
            width: 70%;
            margin-right: 10px;
        }
        button{
            position:absolute;
        }
    }
    
}

.subKind{
    width: 30%;
}

.contentDiv{
    border: solid 1px;
    width: 100%;
    height: 85%;
    margin-top: 10px;
    overflow: auto;

    li{
        margin-top: 10px;
    }
}

.bottomDiv{
    text-align: right;
    padding: 10px;

    button{
        margin-right:10px
    }
}


mat-icon{
    position:absolute;
}