<div class='filterDiv'>
    <div class='kind'>
        대분류:  {{ kind }}
    </div>
    <div class='subKind'>
        소분류 : {{ subKind }}
    </div>
    <div class='title'>
        질문제목
        <input [(ngModel)]='title' id='titleQue' [(ngModel)]='title' placeholder="제목을 입력하세요.">
    </div>
    <div class='question'>
        질문내용
        <input [(ngModel)]='question' placeholder="질문을 입력하세요.">
        <button mat-flat-button color="primary" slot="end" (click)='addQuestion(question)'>추가</button>
    </div>
</div>

<div class='contentDiv'>
    <ol>
        <li *ngFor='let item of questionList$; let i=index'>
            {{ item }}
            <mat-icon slot="end" (click)='deleteQuestion(i)'>delete_forever</mat-icon>
        </li>
    </ol>
</div>

<div class='bottomDiv'>
    <button mat-raised-button color="primary" slot="end" (click)='goQuestionList()'>목록</button>
    <button mat-raised-button slot="end" (click)='saveQuestion()'>저장</button>
</div>