<div class="all_div">
    <div class="close_div">
    <span class="title_span">분석표 상세내용
        <button class='qlist' mat-raised-button color="primary" *ngIf='divQuestion == false' (click)='openQuestionList(true)'>질의응답 보기</button>
        <button class='qlist' mat-raised-button color="primary" *ngIf='divQuestion == true' (click)='openQuestionList(false)'>질의응답 숨기기</button>
    </span>
        <button class='close' (click)="closeDialog()">
            <span class="material-icons"> close </span>
        </button>
    </div>
    <div class='divQuestion' *ngIf='divQuestion'>
        <mat-list *ngFor='let list of questionList$ let i=index'>
            <mat-list-item>{{i}}. {{ list.question }}</mat-list-item>
            <mat-list-item>&nbsp;&nbsp;&nbsp;&nbsp;{{ list.answer }}</mat-list-item>
        </mat-list>
    </div>
    <form *ngIf="items$ | async as items" style="margin-bottom: 14px; margin-top: 20px;">
        <table style="width: 100%">
            <tr>
                <td style="text-align: center" class="imgBox">
                    <a *ngFor="let image of items.imageList; let i = index" [href]="image.url" target='_blank'><img
                            src="{{ image.url }}"></a>
                </td>
            </tr>
            <tr *ngIf="!items.feedbackId">
                <div *ngIf="!failAnalyze">분석 여부</div>
                <div style="text-align: center">
                    <button (click)="addAlarm(items.uid , false)" *ngIf="!failAnalyze" [disabled]='failAnalyze'
                        class="save_button save2">분석 불가</button>
                </div>
            </tr>
            <div *ngIf="!failAnalyze" class="result_div">
                <div>
                    <div class="result_title_div">분석결과</div>
                    <div *ngIf="!writtenSwitch">
                        <textarea [(ngModel)]="result" [ngModelOptions]="{ standalone: true }"
                            placeholder="분석결과를 입력하세요."></textarea>
                    </div>
                    <div *ngIf="writtenSwitch">
                        <textarea [(ngModel)]="result" [ngModelOptions]="{ standalone: true }" disabled
                            placeholder="분석결과를 입력하세요."></textarea>
                    </div>
                </div>

                <div>
                    <div class="result_title_div">상세결과</div>
                    <div *ngIf="!writtenSwitch">
                        <textarea [(ngModel)]="detailResult" [ngModelOptions]="{ standalone: true }"
                            placeholder="상세결과를 입력하세요."></textarea>
                    </div>
                    <div *ngIf="writtenSwitch">
                        <textarea [(ngModel)]="detailResult" [ngModelOptions]="{ standalone: true }" disabled
                            placeholder="상세결과를 입력하세요."></textarea>
                    </div>
                </div>

                <div>
                    <div class="result_title_div">치료가이드</div>
                    <div *ngIf="!writtenSwitch">
                        <textarea [(ngModel)]="guide" [ngModelOptions]="{ standalone: true }"
                            placeholder="치료가이드를 입력하세요."></textarea>
                    </div>
                    <div *ngIf="writtenSwitch">
                        <textarea [(ngModel)]="guide" [ngModelOptions]="{ standalone: true }" disabled
                            placeholder="치료가이드를 입력하세요."></textarea>
                    </div>
                </div>
            </div>
        </table>
    </form>
    <div class="submit_button" style="position: static; margin-bottom: 30px; width: 100%">
        <input [(ngModel)]='file' type="file" class="save_button" accept=".pdf" required *ngIf="!writtenSwitch&&!failAnalyze"
            (change)="selectFile($event)" />
        <button class="save_button ng-star-inserted" *ngIf='hidBtn' (click)='cancelUpload()'>
            <span>
                파일첨부 취소
            </span>
        </button>
    </div>
    <div class="submit_button" style="position: static; margin-bottom: 30px; width: 100%">
        <button (click)="submit()" class="save_button save2"
            [disabled]='failAnalyze || !detailResult || !guide || !result'
            *ngIf="!writtenSwitch&&!failAnalyze">저장</button>
    </div>

    <div class="submit_button" style="position: static; margin-bottom: 30px; width: 100%">
        <button (click)="getEstimate()" class="save_button" [disabled]='failAnalyze' *ngIf="writtenSwitch">다운받기</button>
    </div>
</div>