textarea {
  resize: none;
  padding: 6px;
  height: 100px;
  width: 100%;
  margin-top: 10px;
}

.result_div {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid gray;
  padding: 10px;
}

.close_div {
  position: relative;
  .qlist {
    right: 0;
    font-size: 1rem;
    color:#fff;
  }
  .close {
    position: absolute;
    right: 0;
  }
}

.save_button {
  border: 1px solid #ddd;
  outline: none;
  margin: auto;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #2d2d2d;
  // background: #00f;
}

.save2 {
  background: #5c85e6;
}
.save_button[disabled] {
  background: #ccc;
}

.result_title_div {
  font-size: 20px;
  font-weight: bold;
}

.title_span {
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
}
.imgBox {
  a {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }
  img {
    width: auto;
    height: 200px;
    display: block;
    margin: 0 auto;
  }
}


.divQuestion{
  width: auto;
  height: 300px;
  overflow-y: scroll;
}

.mat-list-item{
  height: 20px;
}