<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">

        <ngx-datatable class="material ml-0 mr-0" [rows]="items$ | async" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">

            <ngx-datatable-column name="검사요청일" [flexGrow]="1" [sortable]="true" prop="dateCreated">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.dateCreated | date : 'yyyy-MM-dd'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="검사구분" [flexGrow]="1" [sortable]="true" prop="uid.kind">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1">
                        {{row?.kind}}</button>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="작성자" [flexGrow]="1" [sortable]="true" prop="uid.nickname">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1"
                        (click)="profile(row?.uid, true)">{{row?.uid?.nickname}}</button>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="결과여부" [flexGrow]="1" [sortable]="true" prop="analysisSwitch">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-checkbox [(ngModel)]="row.analysisSwitch" [disabled]='true'></mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="분석 여부" [flexGrow]="1" [sortable]="true" prop="failAnalyze">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.failAnalyze ? '분석 불가' : ''}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="상세보기" [flexGrow]="1" [sortable]="true" prop="nickname">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="modify_button" (click)="showCounselor(row?.counselorId)">상담서 보기</button>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    </mat-card-content>
</mat-card>