<footer class="main-footer">
  <!-- <a mat-raised-button color="accent" href="https://themeforest.net/item/egret-angular-4-material-design-admin-template/20161805">ㄴ</a> -->
  <span class="m-auto"></span>
  Design & Developed by <a href="http://kncuraion.com">&nbsp;  KN CURATION</a>
</footer>