<table>
   <tr>
      <td rowspan='8'>
         <img [src]="img" style='width:450px;height:240px;' alt="">
         <div style="color: tomato; font-size: 0.7rem;">사진 권장 규격 : PNG 파일 / 가로 300 x 세로 200 (단위:px 픽셀)</div>
         <br>
         <div>
            <button mat-stroked-button color="primary" (click)='selectImg()'>기관 사진 변경</button>
         </div>
      </td>
   </tr>
   <tr>
      <th style='width: 100px;'>기관명</th>
      <td><input class='borderNone' [(ngModel)]='name' readonly></td>
   </tr>
   <tr>
         <th>대표검사<span class="astar">*</span></th>
         <td><input id='testKind' [(ngModel)]='testKind' /></td>
      </tr>
      <tr>
         <th>
            대표상담사
         </th>
         <td>
            <img [src]='counselor' style='width: 45px;height: 45px;' alt="">&nbsp;&nbsp;
            <button mat-stroked-button color="primary" (click)='selectCslrImg()'>사진변경</button>
            <div style="color: tomato; font-size: 0.7rem;">규격:PNG/가로 30 x 세로 30 (px)</div>
         </td>
      </tr>   
      <tr>
         <th>홈페이지</th>
         <td><input [(ngModel)]='homepage'/></td>
      </tr>
      <tr>
      <th>이메일</th>
      <td ><input [(ngModel)]='email' /></td>
   </tr>
      <tr>
         <th>연락처<span class="astar">*</span></th>
         <td><input id='number' [(ngModel)]='number'/></td>
      </tr>
      <tr>
         <th>주소<span class="astar">*</span></th>
         <td> <textarea id='address' [(ngModel)]='address' ></textarea></td>
      </tr>
</table> 

<div class='bottomDiv'>
   <button mat-raised-button color="primary" class="modify_button" (click)='goInstitutionList()'>목록</button>
   <button mat-raised-button color="primary" class="modify_button" (click)='setUpdate()'>저장</button>
</div>
<input [(ngModel)]='file' id='visitUploader' type="file" class="save_button" accept=".png" required (change)="selectFile($event)" hidden />
<input [(ngModel)]='file' id='cslrUploader' type="file" class="save_button" accept=".png" required (change)="selectCslrFile($event)" hidden />
