<form>
    <mat-card class="profile-sidebar mb-1 pb-0">

        <div class="propic text-center">
            <img src={{itemForm.value.profile}} alt="">
        </div>

        <div class="profile-title text-center mb-1">
            <div class="main-title"><b>{{ itemForm.value.nickname }}</b></div>
            <div class="subtitle mb-05">{{ itemForm.value.email }}</div>
        </div>

        <div class="profile-nav">
            <mat-nav-list>
                <mat-list-item>
                    <mat-label><b>가입일&nbsp;&nbsp; </b></mat-label>
                    <mat-label>{{ itemForm.value.dateCreated | date : 'yyyy-MM-dd' }}</mat-label>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <mat-label><b>이메일&nbsp;&nbsp; </b></mat-label>
                    <mat-label>{{ itemForm.value.email}}</mat-label>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <mat-label><b>닉네임&nbsp;&nbsp; </b></mat-label>
                    <mat-label>{{ itemForm.value.nickname }}</mat-label>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <mat-label><b>전화번호&nbsp;&nbsp; </b></mat-label>
                    <mat-label>{{ itemForm.value.phone }}</mat-label>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <mat-label><b>출생년도 &nbsp;&nbsp; </b></mat-label>
                    <mat-label>{{ itemForm.value.birth }}년</mat-label>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <mat-label><b>탈퇴여부&nbsp;&nbsp; </b></mat-label>
                    <mat-label>{{ itemForm.value.exitSwitch ? '탈퇴' : '탈퇴안함' }}</mat-label>
                </mat-list-item>
                <mat-divider></mat-divider>

            </mat-nav-list>
        </div>
    </mat-card>
</form>