
<div class='filterDiv'>
    <div class='kind'>
        대분류:  {{ kind }}
    </div>
    <div class='kind'>
        소분류 : {{ subKind }}
    </div>
    <div class='kind'>
        제목 : {{ title }}
    </div>
    <div class='kind'>
        사용여부 : 
        <mat-checkbox  [(ngModel)]="use" (click)='changeChk()'></mat-checkbox>
        <span style="color:tomato;" >(수정가능)</span>
    </div>
</div>
<div class='contentDiv'>
    <ol>
        <li *ngFor='let item of questionList$; let i=index'>
            {{ item }}
        </li>
    </ol>
</div>

<div class='bottomDiv'>
    <button mat-raised-button slot="end" (click)='goQuestionList()'>목록</button>
    <button mat-raised-button color="primary" slot="end" (click)='goQuestionUpdate()'>질문 수정하기</button>
</div>