.filterDiv{
    border: solid 1px;
    width: 100%;
    height: 50px;
    padding: 1rem 20px 0 20px;
    display: inline-flex;

    .kind{
        margin: 0 20px 0 20px;
    }

    .question{
        width: 80%;
        margin-top: 13px;
        input{
            width: 70%;
            margin-right: 10px;
        }
    }
    
}

.contentDiv{
    border: solid 1px;
    width: 100%;
    height: 70%;
    margin-top: 10px;
    overflow: auto;

    li{
        margin-top: 10px;
    }
}


.bottomDiv{
    text-align: right;
    padding: 10px;

    button{
        margin-right:10px
    }
}


mat-icon{
    position:absolute;
}