.filterDiv{
    border: solid 1px;
    width: 100%;
    height: 50px;
    padding: 0 20px 0 20px;
    display: inline-flex;

    .kind{
        width: 55%;
    }
    .subKind{
        width: 35%;
        margin-right:-30px;
    }
    .question{
        width: 80%;
        margin-top: 13px;
        input{
            width: 70%;
            margin-right: 10px;
        }

        button{
            position:absolute;
        }
    }
    
}

.contentDiv{
    border: solid 1px;
    width: 100%;
    height: 85%;
    margin-top: 10px;
    overflow: auto;

    li{
        margin-top: 10px;
    }
}


.bottomDiv{
    text-align: right;
    padding: 10px;
}

.modify_button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: unset;
    height: 30px;
    font-weight: 500;
    font-size: 0.825;
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #ddd;
    margin-right: 5px;
}

table {
    width: 100%;
  }

datatable-header,
datatable-body{
    width: 100% !important;
}

