<div class='filterDiv'>
    <div class='bkind'>
        대분류
        <mat-form-field class='kind'>
            <mat-select disableRipple required  [(ngModel)]='filterKind' (selectionChange)='getSubKind()'>
                <mat-option selected>선택</mat-option>
                <mat-option *ngFor="let kind of kindList$" [value]="kind.testName" >
                    {{ kind.testName }}
                </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class='skind' *ngIf='subKindlist$'>
        소분류
        <mat-form-field  class='subKind'>
        <mat-select disableRipple required  [(ngModel)]='filterSubKind'>
            <mat-option selected>선택</mat-option>
            <mat-option *ngFor="let sub of subKindlist$" [value]="sub">
                {{ sub }}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class='skind'>
        사용여부
        <mat-form-field  class='subKind'>
        <mat-select disableRipple required  [(ngModel)]='filterUse'>
            <mat-option selected>전체</mat-option>
            <mat-option *ngFor="let use of useList" [value]="use.code">
                {{ use.value }}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class='question'>
        <!-- 질문 제목
        <input [(ngModel)]='filterTitle' placeholder="질문 제목을 입력하세요"> -->
        <button mat-flat-button color="primary" slot="end" (click)='selectQuestion()'>검색</button>
    </div>
</div>

<mat-card class="p-0"  [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">

        <ngx-datatable class="material ml-0 mr-0" [rows]="items$ | async" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">

            <ngx-datatable-column name="대분류" [flexGrow]="1" [sortable]="true" prop="kind">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.kind}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="소분류" [flexGrow]="1" [sortable]="true" prop="subKind">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.subKind}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="작성일" [flexGrow]="1" [sortable]="true" prop="created">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.created | date : 'yyyy-MM-dd'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="질문 제목" [flexGrow]="1" [sortable]="true" prop="title">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.title}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="사용여부" [flexGrow]="1" [sortable]="true" prop="use">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <!-- <mat-slide-toggle [(ngModel)]="row.use" disabled></mat-slide-toggle> -->
                    <mat-checkbox  [(ngModel)]="row.use" [disabled]='true'></mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="질문지 보기" [flexGrow]="1" [sortable]="true" prop="">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="modify_button" (click)='goDetail(row)'>질문지 보기</button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

    </mat-card-content>
</mat-card>
    

<div class='bottomDiv'>
    <button mat-raised-button color="primary" class="modify_button" (click)="goInsert()">질문 등록</button>
</div>
