<!-- <span fxFlex></span> -->
<div>
    <mat-card fxFlex="50" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
        <mat-card-title class="">
            <div class="card-title-text">분석 완료</div>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content>
            <div fxFlex="100" class="pr-1">
                <mat-form-field class="full-width">
                    <mat-label>분석 완료</mat-label>
                    <textarea matInput matTextareaAutosize name="adminNm" placeholder="요청하신 분석이 완료되었습니다"
                        [(ngModel)]="finish">{{finish}}</textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <div class="m-333">
            <span fxFlex="50">
                <button mat-raised-button class="mb-05" color="primary" (click)="updateFinish(privacy, '')">멘트
                    저장</button>
            </span>
        </div>
    </mat-card>

    <mat-card fxFlex="50" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
        <mat-card-title class="">
            <div class="card-title-text">분석 불가능시</div>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content>
            <div fxFlex="100" class="pr-1">
                <mat-form-field class="full-width">
                    <mat-label>분석불가능</mat-label>
                    <textarea matInput matTextareaAutosize name="adminNm" placeholder="안돼요"
                        [(ngModel)]="cant">{{cant}}</textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <div class="m-333">
            <span fxFlex="50">
                <button mat-raised-button class="mb-05" color="primary" (click)="updateCant('', serviceTerm)">멘트
                    저장</button>
            </span>
        </div>
    </mat-card>

</div>